/data/
/output/
*__pycache__/
*build/
*egg-info/

# Python
# Virtual Environments
venv/
.venv/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build systems (CMake)
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
Makefile
build/
/data_utils/face_tracking/3DMM/01_MorphableModel.mat
/data_utils/face_tracking/3DMM/topology_info.npy
/data_utils/face_tracking/3DMM/3DMM_info.npy
/data_utils/face_tracking/3DMM/exp_info.npy
/data_utils/face_tracking/3DMM/keys_info.npy
/data_utils/face_tracking/3DMM/sub_mesh.obj
/data_utils/SegFace/weights/*
